stages:
  - publish

publish:
  stage: publish
  image: node:18
  only:
    - master
  script:
    - npm ci
    - git config user.name "gitlab-ci[bot]"
    - git config user.email "gitlab-ci[bot]@gitlab.com"
    - VERSION="0.0.0-$(date +%Y%m%d).g$(git rev-parse --short HEAD)"
    - npm version $VERSION --no-git-tag-version
    - git add package.json package-lock.json
    - git commit -m "chore(release):$VERSION"
    - git tag "v$VERSION"
    - cp deployment/gitlab/.npmrc .npmrc
    - npm publish
    - git push --follow-tags https://oauth2:${CI_JOB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git HEAD:master