  stages:
    - publish

  publish:
    stage: publish
    image: node:18
    only:
      - master
    script:
      - npm ci
      - git config user.name "gitlab-ci[bot]"
      - git config user.email "gitlab-ci[bot]@gitlab.com"
      - npm version patch -m "chore(release): %s"
      - cp deployment/gitlab/.npmrc .npmrc
      - npm publish
      - git push --follow-tags https://oauth2:${CI_JOB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git HEAD:master